@page "/"

<div class="container-fluid">
    <div class="flex-row flex-wrap m-lg-4 m-md-3 m-sm-2">
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div class="card-body clearfix">
                <h3>GuildForge</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar accumsan nunc eget cursus.
                    Vestibulum pellentesque sodales mattis. Praesent fermentum sem velit. Suspendisse porta pretium
                    libero lacinia pharetra. Aliquam vitae ipsum sodales, scelerisque nunc nec, aliquet purus. Ut eu
                    felis quis tortor luctus vulputate. Nam non neque consequat, pellentesque nisl ac, faucibus lorem.
                    Vestibulum tristique orci ligula, id tempus nisi rutrum id.
                </p>
                <a class="btn-expand float-right" href="/guild-forge">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="btn-text">Learn More</span>
                </a>
            </div>
        </div>
    </div>
</div>